body{
    background-image: url(./img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}
.espacamentoTop{
    margin-top: 4vh;
}
.logo{
    height:8vw;
    background-image: url(./img/wood\ texture\ -\ Free\ Large\ Images.jpeg);
}
.corVerde, .espacoVerde{
    background-color: rgb(56, 122, 56);
}
.espacoVerde{
    height: 4vh;
    width: 100%;
    padding: auto;
    z-index: 1000;
    border-left:rgb(56, 122, 56) 1vw;
}
.cardapio , .bgEscuro{
    background-color: rgba(0, 0, 0, 0.7);
}
.cardapioh2{
   justify-content: center;
   text-align: center;
}
.bgCardapio,.bgCarrinho, .bgvazio{
    padding: 1vw;
    background-image: url(./img/wood\ texture\ -\ Free\ Large\ Images.jpeg);
}
.bgvazio{
    margin: 4vw;
    width: 90%;
}
.botaoDeFechar{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 0 2px rgba(0,0,0,.3);
    width: 45px;
}
.redes{
    display: flex;
    justify-content: center;
}
.redes1,.redes2{
    display: flex;
    padding: 2vw;
}
.nnn{
    display: flex;
}
.botao-card{
    display: flex;
    justify-content: space-evenly;
}
.botao-card > a{
   padding:19px;
}
.card-body >h4{
    margin-top: 20px;
    text-align: center;
}
.card > img{
    height: 200px;
}
.modal-body > h5,h6{
    text-align: center;
}
#exampleModalLabel{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-log{
    align-items: center;
    width: 450px;
}

.btn-success{
    width: 450px;
    
}

.modal-header img{
    width: 8vw;
}

.modal-header{
    
    justify-content: space-between;
}
.imagemModal{
    width: 45px;
}